.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}


.example-custom-placeholder {
  background: lightblue;
  border: dotted 3px lightgray;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
