
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- <div id="menu-toggle" (click)="onToggle()"><mat-icon>arrow_back</mat-icon>
    </div> -->

    <breadcrumb #parent style="width: 400px;">
      <ol class="breadcrumb mt-3 ml-4" style="background-color: white; font-size: 16px;;">
        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
          <li *ngIf="!route.terminal" class="breadcrumb-item">
            <!--  href="" [routerLink]="[route.url]" -->
            <a>{{ route.displayName }}</a>
          </li>
          <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
        </ng-template>
      </ol>
    </breadcrumb>

    <!-- <div class="w-100 ml-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin-left: auto;">
          <li class="nav-item active">
            <div class="btn"><img src="https://img.icons8.com/ios-filled/24/000000/github.png"/> Github Repo</div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </div> -->

  </nav>

