.board {
  width: 100%;
}

.column {
  min-width: 250px;
  min-height: 400px;
  background-color: #F4F5F7;
}

.h6 {
  font-weight: normal;
}


.list-name {
  color: #A3A3A3;
  font-size: 13px;
  text-align: left;
  margin-left: 10px;
}


nz-select {
  width: 250px;
}




