<!-- Kanban Board -->
<div class="div mx-4 mb-4">
  <h1 class="mt-4">Kanban Board</h1>
  <input placeholder="Search">
  <button class="btn">Only My Issues</button>
  <button class="btn">Recently Updated</button>
</div>

<!-- <div class="div ml-4" style="width: 100%; height: 100%;"> -->
  <div class="row ml-4">
    <div class="column mr-3">

      <div style="max-width: 250px;" cdkDropList #backlogList="cdkDropList" [cdkDropListData]="backlog"
        [cdkDropListConnectedTo]="[selectedList, inprogressList, doneList]" (cdkDropListDropped)="drop($event)">

        <div>
          <div class="h6 text-center my-4">Backlog {{backlog.length}}</div>
        </div>

        <div>
          <div class="item-box" *ngFor="let item of backlog; let i=index" cdkDrag (click)="showModal(i, backlog)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item}}
            <div *ngIf="backlog.length === 0"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="column mr-3">
      <div style="max-width: 250px;" cdkDropList #selectedList="cdkDropList" [cdkDropListData]="selected"
        [cdkDropListConnectedTo]="[backlogList, inprogressList, doneList]" (cdkDropListDropped)="drop($event)">

        <div>
          <div class="h6 text-center mt-2 my-4">Selected For Development {{selected.length}}</div>
        </div>

        <div>
          <div class="item-box" *ngFor="let item of selected; let i=index;" cdkDrag (click)="showModal(i, selected)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item}}
          </div>
          <div *ngIf="selected.length === 0"></div>
        </div>

      </div>

    </div>
    <div class="column mr-3">
      <div style="max-width: 250px;" cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[selectedList, backlogList, doneList]" (cdkDropListDropped)="drop($event)">

        <div>
          <div class="h6 text-center mt-2 my-4">In Progress {{inprogress.length}}</div>
        </div>

        <div>
          <div class="item-box" *ngFor="let item of inprogress; let i=index;" cdkDrag (click)="showModal(i, inprogress)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item}}
          </div>
          <div *ngIf="inprogress.length === 0"></div>
        </div>

      </div>
    </div>


    <div class="column mr-3">
      <div style="max-width: 250px;" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[selectedList, backlogList, inprogressList]" (cdkDropListDropped)="drop($event)" >
        <div>

          <div class="h6 text-center my-4">Done {{done.length}}</div>
        </div>

        <div>
          <div class="item-box" *ngFor="let item of done; let i=index;" cdkDrag (click)="showModal(i, done)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item}}
          </div>
          <div *ngIf="done.length === 0"></div>
        </div>

      </div>
    </div>

  </div>
<!-- </div> -->


<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzFooter]="null" [nzWidth]="900" [nzClosable]="false">
  <div class="row mb-4">
    <div class="col-7">{{type}}</div>
    <div class="col-1"><mat-icon>visibility</mat-icon></div>
    <div class="col-1"> <mat-icon>feedback</mat-icon></div>
    <div class="col-1"><mat-icon>share</mat-icon></div>
    <div class="col-1"><mat-icon>more_horiz</mat-icon></div>
    <div class="col-1"><mat-icon>close</mat-icon></div>
  </div>

  <div class="row">
    <div class="col-8">
      <h1>{{title}}</h1>
      <p style="font-weight: bold;">Description</p>
      <p>{{description}}</p>
      <p style="font-weight: bold;">Comment</p>

    </div>
    <div class="col-4">
      <p style="font-weight: bold;">Status</p>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select OS" [(ngModel)]="selectedStatus">
        <nz-option nzCustomContent nzLabel="Done" nzValue="done">Done</nz-option>
        <nz-option nzCustomContent nzLabel="Selected For Development" nzValue="selected">Selected For Development</nz-option>
        <nz-option nzCustomContent nzLabel="In Progress" nzValue="inprogress">In Progress</nz-option>
        <nz-option nzCustomContent nzLabel="Backlog" nzValue="backlog">Backlog</nz-option>
      </nz-select>

      <p class="mt-3" style="font-weight: bold;">Reporter</p>
      <nz-avatar nzIcon="user" nzSrc="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10885614_638674292911320_715049263198183572_n.jpg?_nc_cat=106&_nc_sid=174925&_nc_ohc=krm3i0fljJcAX-nJjD0&_nc_ht=scontent-lga3-1.xx&oh=1aad88c21e0e7113efbaffea8904db71&oe=5F4EE2FD"></nz-avatar>
      <span> {{reporterName}}</span>

      <p class="mt-3" style="font-weight: bold;">Assignee</p>
      <nz-avatar nzIcon="user" nzSrc="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/10885614_638674292911320_715049263198183572_n.jpg?_nc_cat=106&_nc_sid=174925&_nc_ohc=krm3i0fljJcAX-nJjD0&_nc_ht=scontent-lga3-1.xx&oh=1aad88c21e0e7113efbaffea8904db71&oe=5F4EE2FD"></nz-avatar>
      <span> {{reporterName}}</span>

      <p class="mt-3" style="font-weight: bold;">Priority</p>

        <div>
          <mat-icon [ngStyle]="{'color': priorityColor(priority)}">arrow_upward</mat-icon><span class="aligned-with-icon">{{priority}}</span>
        </div>


        <p class="mt-3" style="font-weight: bold;">Original Estimate</p>

        <div>

        </div>
    </div>
  </div>


</nz-modal>
