<!-- Kanban Board -->
<div class="div mx-4 mb-4">
  <h1 class="mt-4">Kanban Board</h1>
  <input placeholder="Search">
  <button class="btn">Only My Issues</button>
  <button class="btn">Recently Updated</button>
</div>

<!-- <div class="div ml-4" style="width: 100%; height: 100%;"> -->
<div class="row ml-4">
  <div class="column mr-3">

    <div style="max-width: 250px;" cdkDropList #backlogList="cdkDropList" [cdkDropListData]="backlog"
      [cdkDropListConnectedTo]="[selectedList, inprogressList, doneList]" (cdkDropListDropped)="drop($event)">

      <div>
        <div class="h6 my-4 list-name">BACKLOG {{backlog.length}}</div>
      </div>

      <div>
        <app-item-box [list]="backlog"></app-item-box>
      </div>

    </div>
  </div>
  <div class="column mr-3">
    <div style="max-width: 250px;" cdkDropList #selectedList="cdkDropList" [cdkDropListData]="selected"
      [cdkDropListConnectedTo]="[backlogList, inprogressList, doneList]" (cdkDropListDropped)="drop($event)">

      <div>
        <div class="h6 mt-2 my-4 list-name" >SELECTED FOR DEVELOPMENT {{selected.length}}</div>
      </div>

      <div>
        <app-item-box [list]="selected"></app-item-box>
      </div>

    </div>

  </div>
  <div class="column mr-3">
    <div style="max-width: 250px;" cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress"
      [cdkDropListConnectedTo]="[selectedList, backlogList, doneList]" (cdkDropListDropped)="drop($event)">

      <div>
        <div class="h6 mt-2 my-4 list-name">IN PROGRESS {{inprogress.length}}</div>
      </div>

      <div>
        <app-item-box [list]="inprogress"></app-item-box>
      </div>
    </div>
  </div>


  <div class="column mr-3">
    <div style="max-width: 250px;" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[selectedList, backlogList, inprogressList]" (cdkDropListDropped)="drop($event)">
      <div>
        <div class="h6 my-4 list-name">DONE {{done.length}}</div>
      </div>

      <div>
        <app-item-box [list]="done"></app-item-box>
      </div>

    </div>
  </div>

</div>
<!-- </div> -->
