#sidebar-wrapper {
  min-height: 100vh;
  height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 13rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 500px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.list-group-item {
  border: none;
}

.list-group-item:hover {
  color: #0847A6;
}

hr {
  width: 90%;
}

#outer-container {
  background: #0847A6;
  width: 50px;
}

#inner-container {
  background-color: #F4F5F7;
}

.side-icon {
  cursor: pointer;
  color: white;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.active {
  color: #0847A6;
}


