<!-- outer sidenav -->
<mat-sidenav-container id="sidebar-wrapper">
  <mat-sidenav id="outer-container" mode="side" opened>
    <div class="side-icon mt-4 text-center">
      <mat-icon class="side-icon">grade</mat-icon>
    </div>
    <div class="side-icon mt-4 text-center">
      <mat-icon class="side-icon" mat-raised-button matTooltipPosition="right" matTooltip="Search">search</mat-icon>
    </div>
    <div class="side-icon mt-4 text-center">

      <mat-icon class="side-icon" mat-raised-button matTooltipPosition="right" matTooltip="Create Issue"
        (click)="showModal()">add</mat-icon>
    </div>

    <div class="side-icon text-center" style="margin-top: 30rem;" routerLink="/login">
      <nz-avatar nzIcon="user" mat-raised-button matTooltipPosition="right" matTooltip="Log-In"></nz-avatar>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- inner sidenav -->
    <mat-sidenav-container id="sidebar-wrapper">
      <mat-sidenav id="inner-container" mode="side" opened>
        <div class="ml-2" style="width: 190px;">
          <div class="text-center mt-4" style="color: black; font-size: 18px; ">{{name}}</div>
        </div>

        <hr>
        <div class="list-group list-group-flush">
          <a routerLink="/project/kanban-board" routerLinkActive="active" class="list-group-item list-group-item-action"
            style="  background-color: #F4F5F7;
            ">
            <div class="ml-3">

              <mat-icon>developer_board</mat-icon>
              <span class="aligned-with-icon">Kanban Board</span>
            </div>
          </a>
          <a routerLink="/project/settings" routerLinkActive="active" class="list-group-item list-group-item-action"
            style="  background-color: #F4F5F7;
            ">
            <div class="ml-3">

              <mat-icon>settings</mat-icon>
              <span class="aligned-with-icon">Project Settings</span>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" style="  background-color: #F4F5F7;
          ">
            <div class="ml-3">

              <mat-icon> show_chart</mat-icon>
              <span class="aligned-with-icon">Reports</span>
            </div>
          </a>

          <hr>
          <a class="list-group-item list-group-item-action" style="  background-color: #F4F5F7;
          ">
            <div class="ml-3">

              <mat-icon>launch</mat-icon>
              <span class="aligned-with-icon">Release</span>
            </div>

          </a>
          <a class="list-group-item list-group-item-action" style="  background-color: #F4F5F7;
          ">
            <div class="ml-3">
              <mat-icon>bug_report</mat-icon>
              <span class="aligned-with-icon">Issues</span>
            </div>
          </a>
          <a class="list-group-item list-group-item-action" style="  background-color: #F4F5F7;
          ">
            <div class="ml-3">

              <mat-icon>view_list</mat-icon>
              <span class="aligned-with-icon">Add Components</span>
            </div>
          </a>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>


<nz-modal [(nzVisible)]="isVisible" nzClosable="false" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  nzWidth='700px' nzFooter='null'>

  <h2 style="font-weight: normal;">Create issue</h2>

  <label>Issue type</label>

  <nz-select style="width: 100%;" nzSize="default" nzShowSearch nzAllowClear [nzCustomTemplate]="typeTemplate">
    <nz-option nzCustomContent nzLabel="TASK" nzValue="task">
      <mat-icon style="background-color: #4BADE8; color: white; width: 15px; height: 15px; font-size: 15px;">check
      </mat-icon>
      TASK
    </nz-option>

    <nz-option nzCustomContent nzLabel="STORY" nzValue="story">
      <mat-icon style="background-color: #63BA3C; color: white; width: 15px; height: 15px; font-size: 15px;">
        turned_in_not</mat-icon>
      STORY
    </nz-option>

    <nz-option nzCustomContent nzLabel="BUG" nzValue="bug">
      <mat-icon style="background-color: #E5493A; color: white;width: 15px; height: 15px; font-size: 15px;">
        error_outline</mat-icon>
      BUG
    </nz-option>

    <ng-template #typeTemplate let-selected>
      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='story'">
        <mat-icon style="background-color: #63BA3C; color: white; width: 15px; height: 15px; font-size: 15px;">
          turned_in_not</mat-icon>{{ selected.nzLabel }}
      </div>

      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='task'">
        <mat-icon style="background-color: #4BADE8; color: white; width: 15px; height: 15px; font-size: 15px;">check
        </mat-icon>{{ selected.nzLabel }}
      </div>

      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='bug'">
        <mat-icon style="background-color: #E5493A; color: white;width: 15px; height: 15px; font-size: 15px;">
          error_outline</mat-icon>{{ selected.nzLabel }}
      </div>
    </ng-template>

  </nz-select>


  <label class="mt-2">Issue priority</label>
  <nz-select style="width: 100%;" nzSize="default" nzShowSearch nzAllowClear [nzCustomTemplate]="priorityTemplate">
    <nz-option nzCustomContent nzLabel="HIGHEST" nzValue="highest">
      <mat-icon [ngStyle]="{'color': 'red'}">arrow_upward</mat-icon>
      HIGHEST
    </nz-option>
    <nz-option nzCustomContent nzLabel="HIGH" nzValue="high">
      <mat-icon [ngStyle]="{'color': '#F06666'}">arrow_upward</mat-icon>
      HIGH
    </nz-option>

    <nz-option nzCustomContent nzLabel="MEDIUM" nzValue="medium">
      <mat-icon [ngStyle]="{'color': 'orange'}">arrow_upward</mat-icon>
      MEDIUM
    </nz-option>
    <nz-option nzCustomContent nzLabel="LOW" nzValue="low">
      <mat-icon [ngStyle]="{'color': 'green'}">arrow_downward</mat-icon>
      LOW
    </nz-option>
    <nz-option nzCustomContent nzLabel="LOWEST" nzValue="lowest">
      <mat-icon [ngStyle]="{'color': 'lightgreen'}">arrow_downward</mat-icon>
      LOWEST
    </nz-option>

    <ng-template #priorityTemplate let-selected>
      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='highest'">
        <mat-icon [ngStyle]="{'color': 'red'}">arrow_upward</mat-icon>
        HIGHEST
      </div>

      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='high'">
        <mat-icon [ngStyle]="{'color': '#F06666'}">arrow_upward</mat-icon>
        HIGH
      </div>

      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='medium'">
        <mat-icon [ngStyle]="{'color': 'orange'}">arrow_upward</mat-icon>
        MEDIUM
      </div>

      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='low'">
        <mat-icon [ngStyle]="{'color': 'green'}">arrow_downward</mat-icon>
        LOW
      </div>

      <div class="ant-select-selection-item-content" *ngIf="selected.nzValue==='lowest'">
        <mat-icon [ngStyle]="{'color': 'lightgreen'}">arrow_downward</mat-icon>
        LOWEST
      </div>
    </ng-template>

  </nz-select>

  <label class="mt-2">Short summary</label>
  <input nz-input nzSize="default" />

  <label class="mt-2">Description</label>

  <div id="quill">
    <quill-editor [style]="editorStyle" [modules]="config"></quill-editor>
  </div>

  <label class="mt-2">Reporter</label>

  <nz-select style="width: 100%;" nzSize='default' nzShowSearch nzAllowClear [nzCustomTemplate]="reporterTemplate">
    <div *ngFor="let user of users; let i=index;">
      <nz-option nzCustomContent nzLabel="{{user.name}}" [nzValue]="i" >
        <nz-avatar nzIcon="user" nzSrc="{{user.avatarUrl}}"></nz-avatar> {{user.name}}
      </nz-option>
    </div>
    <ng-template #reporterTemplate let-selected>
      <div class="ant-select-selection-item-content">
        <nz-avatar nzIcon="user" [nzSrc]="users[selected.nzValue].avatarUrl"></nz-avatar> {{users[selected.nzValue].name}}
      </div>
    </ng-template>

  </nz-select>


  <label class="mt-2">Assignees</label>
  <div>
    <nz-select nzMode="multiple" nzPlaceHolder="Select users" nzAllowClear nzShowSearch nzServerSearch [nzCustomTemplate]="assigneeTemplate"
      [(ngModel)]="selectedUser" (nzOnSearch)="onSearch($event)">
      <ng-container *ngFor="let o of optionList; let i=index">
        <nz-option *ngIf="!isLoading" [nzValue]="i" [nzLabel]="users[i].name">
          <nz-avatar nzIcon="user" nzSrc="{{users[i].avatarUrl}}"></nz-avatar> {{users[i].name}}
        </nz-option>
      </ng-container>
      <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
      </nz-option>

      <ng-template #assigneeTemplate let-selected>
        <div class="ant-select-selection-item-content">
          <nz-avatar nzIcon="user" [nzSrc]="users[selected.nzValue].avatarUrl"></nz-avatar> {{users[selected.nzValue].name}}
        </div>
      </ng-template>
    </nz-select>
  </div>


  <button class="my-3" nz-button nzType="primary" style="background-color: #0847A6; border-color: #0847A6;"
    (click)="onSave()">Save</button>
  <button nz-button nzType="default" style="border-color: white;">Cancel</button>

</nz-modal>
