<!-- outer sidenav -->
<mat-sidenav-container id="sidebar-wrapper">
  <mat-sidenav id="outer-container" mode="side" opened>
    <div class="side-icon mt-4 text-center">
      <mat-icon>grade</mat-icon>
    </div>
    <div class="side-icon mt-4 text-center">
      <mat-icon>search</mat-icon>
    </div>
    <div class="side-icon  mt-4 text-center">
      <mat-icon>add</mat-icon>
    </div>

    <div class="side-icon text-center" style="margin-top: 30rem;" routerLink="/login">
      <nz-avatar nzIcon="user"></nz-avatar>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- inner sidenav -->
    <!-- *ngIf="opened" -->
    <mat-sidenav-container id="sidebar-wrapper" >
      <mat-sidenav id="inner-container" mode="side" opened>
        <div class="sidebar-heading text-center mt-3" style="color: black;">Jira Clone</div>
        <hr>
        <div class="list-group list-group-flush">
          <a routerLink="/project/kanban-board" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">
            <mat-icon>developer_board</mat-icon>
            Kanban Board
          </a>
          <a routerLink="/project/settings" routerLinkActive="active"  class="list-group-item list-group-item-action bg-light">
            <mat-icon>settings</mat-icon>
            Project Settings
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">
            <mat-icon> show_chart</mat-icon>
            Reports
          </a>

          <hr>
          <a href="#" class="list-group-item list-group-item-action bg-light">
            <mat-icon>launch</mat-icon>
            Release
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">
            <mat-icon>bug_report</mat-icon>
            Issues
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light">
            <mat-icon>view_list</mat-icon>
            Add Components
          </a>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
